---
import { getCollection } from 'astro:content';
import ArrowRight from '../../assets/icons/arrow-right.svg';
import Subscribe from '../../components/Subscribe.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllTags, getPostsByTag, sortItemsByDateDesc } from '../../utils/data-utils';

const posts = (await getCollection('blog'))
    .filter(({ data }) => data.displayInBlog)
    .sort(sortItemsByDateDesc);
const tags = getAllTags(posts).sort((tagA, tagB) => {
    const postCountTagA = getPostsByTag(posts, tagA.id).length;
    const postCountTagB = getPostsByTag(posts, tagB.id).length;
    return postCountTagB - postCountTagA;
});
---

<BaseLayout
    title="Tags"
    description="Explore tag directory for easy navigation and discovery. Find a wide range of topics, articles, and insights organized by tags, making it effortless to locate the content that interests you most."
    showHeader={false}
>
    <h1 class="mb-12 font-serif text-2xl italic sm:mb-16 sm:text-4xl">All Tags</h1>
    <div class="flex flex-wrap gap-3 mb-16 sm:mb-20">
        {
            tags.map((tag) => {
                const postCount = getPostsByTag(posts, tag.id).length;
                
                return (
                    <a 
                        class="inline-flex items-center gap-2 px-4 py-2 font-serif text-main border border-main rounded-full transition-colors hover:bg-muted"
                        href={`/tags/${tag.id}`}
                        title={`View ${postCount} ${postCount === 1 ? 'post' : 'posts'} tagged with "${tag.name}"`}
                    >
                        <span class="font-medium">
                            {tag.name}
                        </span>
                        <span class="inline-flex items-center justify-center min-w-5 h-5 rounded-full text-xs font-bold bg-muted">
                            {postCount}
                        </span>
                    </a>
                );
            })
        }
    </div>
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
